<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="icon" type="image/png" href="https://e7.pngegg.com/pngimages/6/979/png-clipart-spring-framework-computer-icons-spring-web-flow-java-advancement-leaf-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-dark bg-dark" style="padding: 0 10px;">
    <div class="d-flex flex-row" style="padding-top: 13px">
        <strong class="text-light bg-dark" th:text="${thisUser.getUsername()}"> </strong>
        <p class="text-light bg-dark"> &nbsp; with roles: &nbsp;</p>
        <p class="text-light bg-dark" th:text="${thisUserRoles}"></p>
    </div>
    <a href="/logout" class="text-secondary">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-2" style="padding: 15px 0 0;">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" data-toggle="tab" href="#adminView"> Admin </a>
                <a class="nav-link" data-toggle="tab" href="#UserView">User</a>
            </nav>
        </div>


        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 95vh">

                <!-- admin panel -->
                <div class="tab-pane fade show active" id="adminView">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>


                    <div class="card">
                        <h5 class="card-header" id="allUsers">All users</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id = "AllUsersTable">
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- new user panel -->
                <div class="tab-pane fade" id="newUser">
                    <div class="form-group">
                        <div class="control-group required">
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body text-center">
                                    <div class="form justify-content-center mx-auto col-5">
                                        <form th:method="POST" th:action="@{/admin/new}" th:object="${newUser}">
                                            <p>
                                                <label class="container-fluid" th:for="firstName"><strong>First
                                                    name</strong>
                                                    <input class="form-control" type="text" name="firstName"
                                                           th:id="firstName"/>
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid"
                                                       th:for="email"><strong>Email</strong>
                                                    <input class="form-control" type="email" name="email"
                                                           th:id="email"/>
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid"
                                                       th:for="password"><strong>Password</strong>
                                                    <input class="form-control" type="password" name="password"
                                                           th:id="password"/>
                                                </label>
                                            </p>
                                            <label class="container-fluid"
                                                   th:for="roleSet"><strong>Role</strong>
                                                <select class="form-control" name="roleSet" multiple size="2">
                                                    <div th:each="role : ${roles}">
                                                        <option th:text="${role.toString()}"
                                                                th:value="${role.getId()}" name="roleSet"/>
                                                    </div>
                                                </select>
                                            </label>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- user panel -->
                <div class="tab-pane fade" id="UserView">
                    <h2>User panel</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${thisUser.getId()}"></td>
                                <td th:text="${thisUser.getFirstName()}"></td>
                                <td th:text="${thisUser.getEmail()}"></td>
                                <td th:text="${thisUserRoles}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>










        </div>
    </div>
</div>

<div id="modalWindow"></div>


<script src="/deleteUser.js"></script>
<script src="/newUser.js"></script>
<script src="/editUser.js"></script>
<script src="/ModalDelete.js"></script>
<script src="/getModalEdit.js"></script>
<script src="/listRoles.js"></script>
<script src="/showAllUsers.js"></script>
<script src="/showUserInfo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>