<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1>Редактирование пользователя</h1>
    <meta charset="utf-8"/>
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
    <p><input type="hidden" th:field="*{id}"/></p>

    <p><label for="firstName">firstName</label></p>
    <p><input type="text" th:field="*{firstName}" id="firstName" value="firstName"></p>


    <p><label for="email">email</label></p>
    <p><input type="text" th:field="*{email}" id="email" value="email"></p>


    <p>
        <input type="submit" value="edit">
    </p>

</form>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>
