<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark" style="padding: 0 10px;">
    <div class="d-flex flex-row" style="padding-top: 13px">
        <strong class="text-light bg-dark" th:text="${thisUser.getUsername()}"> </strong>
        <p class="text-light bg-dark"> &nbsp; with roles: &nbsp;</p>
        <p class="text-light bg-dark" th:text="${thisUserRoles}"></p>
    </div>
    <a href="/logout" class="text-secondary">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" data-toggle="tab" href="#">User</a>
            </nav>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 95vh">
                <h2><strong> User information-page</strong></h2>
                <div class="card">
                    <h5 class="card-header">About user</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${thisUser.getId()}"></td>
                            <td th:text="${thisUser.getFirstName()}"></td>
                            <td th:text="${thisUser.getEmail()}"></td>
                            <td th:text="${thisUserRoles}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>